<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globalcrm">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".New_SlpashScreen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".New_Login_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AllOTP_Activity"
            android:screenOrientation="portrait"/>

        <activity android:name=".New_OTP_Activity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".CalendarActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".TodayHistory"
          android:screenOrientation="portrait"/>

        <activity android:name=".MonthHistory"
          android:screenOrientation="portrait"/>

        <activity android:name=".ExecutiveMonthHistory"
          android:screenOrientation="portrait"/>

        <activity android:name=".FollowupHistory"
          android:screenOrientation="portrait"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

 </application>

</manifest>